beautifulsoup4==4.12.3
requests>=2.31.0
pyairtable>=2.3.3
googletrans==4.0.0-rc1
streamlit>=1.36.0
python-dotenv>=1.0.1
streamlit>=1.36.0
requests>=2.31.0
beautifulsoup4==4.12.3
pyairtable>=2.3.3
python-dotenv>=1.0.1

# translation
googletrans==4.0.0-rc1
httpx>=0.28.1
httpcore>=1.0.5
h11>=0.14.0
